name: super_image_selector
description: A lightweight and easy-to-use image selector package for Flutter (gallery, camera, multiple).
version: 1.0.0
homepage: https://github.com/prometteurShubhamK/super_image_selector
repository: https://github.com/prometteurShubhamK/super_image_selector
issue_tracker: https://github.com/prometteurShubhamK/super_image_selector/issues

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
      ios:
